<h3>Creaci&oacute;n Registropresupuestal</h3>
<p-dialog header="Jornadas" [(visible)]="display">
  La registropresupuestal ha sido editada correctamente
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="cerrarDialogo()" label="Cerrar"></button>
  </p-footer>
</p-dialog>
<div class="ui-g">
  <div class="ui-g-8">
    <form class="form-horizontal">
    <!------------------------------------------------>
    <div class="form-group">
      <label for="vigencia" class="col-sm-2 control-label">Vigencia </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="vigencia" placeholder="Vigencia Registropresupuestal" [(ngModel)]="registropresupuestal.vigencia" name="vigencia">
      </div>
    </div>
    <div class="form-group">
      <label for="fecha_registro" class="col-sm-2 control-label">Fecha_registro </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="fecha_registro" placeholder="Fecha_registro Registropresupuestal" [(ngModel)]="registropresupuestal.fecha_registro" name="fecha_registro">
      </div>
    </div>
    <div class="form-group">
      <label for="estado" class="col-sm-2 control-label">Estado </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="estado" placeholder="Estado Registropresupuestal" [(ngModel)]="registropresupuestal.estado" name="estado">
      </div>
    </div>
    <div class="form-group">
      <label for="numero_registro_presupuestal" class="col-sm-2 control-label">Numero_registro_presupuestal </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="numero_registro_presupuestal" placeholder="Numero_registro_presupuestal Registropresupuestal" [(ngModel)]="registropresupuestal.numero_registro_presupuestal" name="numero_registro_presupuestal">
      </div>
    </div>
    <div class="form-group">
      <label for="solicitud" class="col-sm-2 control-label">Solicitud </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="solicitud" placeholder="Solicitud Registropresupuestal" [(ngModel)]="registropresupuestal.solicitud" name="solicitud">
      </div>
    </div>
    <div class="form-group">
      <label for="disponibilidad_apropiacion" class="col-sm-2 control-label">Disponibilidad_apropiacion </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="disponibilidad_apropiacion" placeholder="Disponibilidad_apropiacion Registropresupuestal" [(ngModel)]="registropresupuestal.disponibilidad_apropiacion" name="disponibilidad_apropiacion">
      </div>
    </div>

    <!------------------------------------------------>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" (click)="guardar(registropresupuestal)">Guardar</button>
          <button type="submit" class="btn btn-default" (click)="regresar()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>

</div>