
<h2>OrdenPagos</h2>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-dataTable [value]="ordenpagos">
  <p-column field="vigencia" header="Vigencia" [sortable]="true"></p-column>
  <p-column field="valor_base" header="Valor_base" [sortable]="true"></p-column>
  <p-column field="unidad_ejecutora" header="Unidad_ejecutora" [sortable]="true"></p-column>
  <p-column field="forma_pago" header="Forma_pago" [sortable]="true"></p-column>
  <p-column field="registro_presupuestal" header="Registro_presupuestal" [sortable]="true"></p-column>
<p-column field="" header="Acciones">
    <ng-template let-col let-registro="rowData" pTemplate="body">
      <button pButton icon="fa-close" type="button" (click)="borrar(registro)"></button>
      <button pButton icon="fa-edit" type="button" (click)="editar(registro)"></button>
    </ng-template>
  </p-column>
</p-dataTable>
<button class="accept" pButton type="button" label="Crear OrdenPago" (click)="newOrdenPago()"></button>