
<h2>DisponibilidadApropiacions</h2>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-dataTable [value]="disponibilidadapropiacions">
  <p-column field="valor" header="Valor" [sortable]="true"></p-column>
  <p-column field="fuente_financiamiento" header="Fuente_financiamiento" [sortable]="true"></p-column>
  <p-column field="apropiacion" header="Apropiacion" [sortable]="true"></p-column>
<p-column field="" header="Acciones">
    <ng-template let-col let-registro="rowData" pTemplate="body">
      <button pButton icon="fa-close" type="button" (click)="borrar(registro)"></button>
      <button pButton icon="fa-edit" type="button" (click)="editar(registro)"></button>
    </ng-template>
  </p-column>
</p-dataTable>
<button class="accept" pButton type="button" label="Crear DisponibilidadApropiacion" (click)="newDisponibilidadApropiacion()"></button>