
<h2>RegistroPresupuestals</h2>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-dataTable [value]="registropresupuestals">
  <p-column field="vigencia" header="Vigencia" [sortable]="true"></p-column>
  <p-column field="fecha_registro" header="Fecha_registro" [sortable]="true"></p-column>
  <p-column field="estado" header="Estado" [sortable]="true"></p-column>
  <p-column field="numero_registro_presupuestal" header="Numero_registro_presupuestal" [sortable]="true"></p-column>
  <p-column field="solicitud" header="Solicitud" [sortable]="true"></p-column>
  <p-column field="disponibilidad_apropiacion" header="Disponibilidad_apropiacion" [sortable]="true"></p-column>
<p-column field="" header="Acciones">
    <ng-template let-col let-registro="rowData" pTemplate="body">
      <button pButton icon="fa-close" type="button" (click)="borrar(registro)"></button>
      <button pButton icon="fa-edit" type="button" (click)="editar(registro)"></button>
    </ng-template>
  </p-column>
</p-dataTable>
<button class="accept" pButton type="button" label="Crear RegistroPresupuestal" (click)="newRegistroPresupuestal()"></button>