
<h2>Movimientos</h2>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-dataTable [value]="movimientos">
  <p-column field="numero" header="Numero" [sortable]="true"></p-column>
  <p-column field="estado_movimiento" header="Estado_movimiento" [sortable]="true"></p-column>
  <p-column field="fecha_movimiento" header="Fecha_movimiento" [sortable]="true"></p-column>
  <p-column field="numero_oficio" header="Numero_oficio" [sortable]="true"></p-column>
  <p-column field="fecha_oficio" header="Fecha_oficio" [sortable]="true"></p-column>
  <p-column field="descripcion" header="Descripcion" [sortable]="true"></p-column>
  <p-column field="unidad_ejecutora" header="Unidad_ejecutora" [sortable]="true"></p-column>
  <p-column field="apropiacion_destino" header="Apropiacion_destino" [sortable]="true"></p-column>
  <p-column field="apropiacion_origen" header="Apropiacion_origen" [sortable]="true"></p-column>
  <p-column field="valor" header="Valor" [sortable]="true"></p-column>
  <p-column field="tipo_movimiento" header="Tipo_movimiento" [sortable]="true"></p-column>
<p-column field="" header="Acciones">
    <ng-template let-col let-registro="rowData" pTemplate="body">
      <button pButton icon="fa-close" type="button" (click)="borrar(registro)"></button>
      <button pButton icon="fa-edit" type="button" (click)="editar(registro)"></button>
    </ng-template>
  </p-column>
</p-dataTable>
<button class="accept" pButton type="button" label="Crear Movimiento" (click)="newMovimiento()"></button>